{% load static %}
{% load decks_filters %}

<div class="album">
  <div class="row">
    {% for deck in decks %}
      <div class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <a href="{% url 'decks:deck_detail' deck.pk %}" style="max-height: 225px; overflow: hidden">
            <img src="{{ deck|deck_image_url_or_empty }}" class="card-img-top"> </img>
          </a>
          <div class="card-body text-wrap">
            <h5 class="card-title"><a class="link-dark" href="{% url 'decks:deck_detail' deck.pk %}"> {{ deck.name }} </a> </h5>
            <p class="card-text text-truncate">{{ deck.description }}</p>
            <div class="d-flex">
              <div class="flex-grow-1">
                <a href="{% url 'users:user_profile' deck.owner.username %}"> by {{ deck.owner.username }} </a>
              </div>
              <div>
                {% include 'decks/heart_widget.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>