{% load decks_filters %}

{% if user.is_authenticated and deck.owner != user %}
  <div class="heart-widget" data-id="{{ deck.pk }}">
    <button class="heart-btn btn p-0 w-100 h-100">
      {% if deck|is_hearted_by:user %}
        <i class="bi bi-heart-fill" style="color:red;"></i>
      {% else %}
        <i class="bi bi-heart" style="color:red;"></i>
      {% endif %}
{% else %}
      <i class="bi bi-heart" style="color:red;"></i>
{% endif %}
      <span> {{ deck.hearts.count }} </span>
{% if user.is_authenticated and deck.owner != user %}  
    </button>
  </div>
{% endif %}