{% extends "japyonary/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'decks/ajax_buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'decks/heart.js' %}"></script>
{% endblock %}

{% block body %}
  {% csrf_token %}

  <main class="container">
    {% crispy search_bar_form %}

    <div class="d-flex mt-3 mb-3">
      {% if is_searching %}
      <h2> {{ page_obj.paginator.count }} search results. </h2>
      {% else %}
      <h2> Top decks </h2>
      {% endif %}

      {% if user.is_authenticated %}
      <span class="flex-grow-1"></span>
      <div>
        <a class="btn btn-primary" href="{% url 'decks:deck_create' %}"> Create a new empty deck </a>
      </div>
      {% endif %}
    </div>

    {% if page_obj.paginator.count > 0 %}
      {% include "decks/deck_list.html" %}
      {% include "japyonary/paginator_widget.html" %}
    {% endif %} {# entries.count #}
  </main>
  
{% endblock %}
