{% extends "japyonary/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'decks/heart.js' %}"></script>
{% endblock %}

{% block body %}
  {% csrf_token %}

  {% crispy search_bar_form %}

  <p> {{ page_obj.paginator.count }} search results. </p>
  {% if page_obj.paginator.count > 0 %}
    {% include "decks/deck_list.html" %}
    {% include "japyonary/paginator_widget.html" %}
  {% endif %} {# entries.count #}
  
{% endblock %}
