{% load dictionary_filters %}

<div class="dictionary-entry" data-id="{{ entry.pk }}">
  {% with main_keb=entry|entry_get_main_keb main_reb=entry|entry_get_main_reb %}
    <div class="d-flex">
      <div class="flex-grow-1">
        <span class="fs-3 text-normal me-3">
          {% if main_keb %} {{ main_keb }} {% else %} {{ main_reb }} {% endif %}
        </span>
        {% if main_keb %}
          <span class="text-normal"> {{ main_reb }} </span>
        {% endif %}
      </div>
      
      {% include 'srs/add_flashcard_widget.html' %}
      {% block entry_buttons_area_content %} {% endblock %}
    </div>
  {% endwith %}

  {% include 'dictionary/entry_meanings.html' %}
</div>