{% extends 'japyonary/base_minimal.html' %}
{% load static %}


{% block head %}
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background: #181818 !important;
    }

    .center-container {
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #srs-host {
      
    }

    nav {
      background: transparent;
    }

    .list-group-item {
      color: white !important;
      align-items: center;
      flex-direction: column;
      display: flex !important;
      border: none !important;
    }
  </style>
  <script type="text/javascript" src="{% static 'srs/srs.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="d-flex flex-column" style="width: 100%; height: 100%">
    <header>
      <nav class="container navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"> Japyonary </a>

        <ul class="flex-grow-1"></ul>

        <button id='srs-undo-button' onclick="undo()" class="btn text-light border border-warning">
          Undo
        </button>
      </nav>
    </header>
    <main id='srs-host' class="flex-grow-1 center-container my-2">
      <div id="srs-answer"></div>
    </main>
    <footer class="center-container my-4">
      <div id="srs-shown-answer-buttons" class="d-none">
        <button class="btn btn-lg btn-success" onclick="answer(1);"> Yes </button>
        <button class="btn btn-lg btn-danger" onclick="answer(0);"> No </button>
      </div>
      <div id="srs-hidden-answer-buttons">
        <button class="btn btn-lg text-light border border-primary" onclick="showAnswer();"> Answer </button>
      </div>
    </footer>
  </div>
{% endblock %}
