{% extends 'japyonary/base_minimal.html' %}
{% load static %}


{% block head %}
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background: #181818 !important;
    }

    .center-container {
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #srs_host {
      
    }
    nav {
      background: transparent;
    }
  </style>
  <script type="text/javascript" src="{% static 'srs/srs.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="d-flex flex-column" style="width: 100%; height: 100%">
    <header>
      <nav class="container navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"> Japyonary </a>
      </nav>
    </header>
    <main id='srs_host' class="flex-grow-1 center-container my-2">
      
    </main>
    <footer class="center-container my-4">
      <div id="srs-show-answer-buttons">
        <button class="btn btn-lg btn-success"> Yes </button>
        <button class="btn btn-lg btn-danger"> No </button>
      </div>
      <div id="srs-hidden-answer-buttons">
        <button class="btn btn-lg text-light border border-primary"> Answer </button>
      </div>
    </footer>
  </div>
{% endblock %}
